@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(
    90deg,
    rgba(0, 36, 26, 1) 0%,
    rgba(101, 214, 105, 0.914) 0%,
    rgba(78, 172, 96, 1) 39%,
    rgb(106, 196, 122) 98%
  );
}

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  position: relative;
  background: #ffffff;
  overflow: hidden;
  border-radius: 8px;
  padding: 1rem;
}

.container-form::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 140%;
  background: linear-gradient(
    90deg,
    rgba(0, 36, 26, 1) 0%,
    rgba(101, 214, 105, 0.914) 0%,
    rgba(78, 172, 96, 1) 39%,
    rgb(106, 196, 122) 98%
  );
  animation: CorBorda 3s ease-out infinite;
}

@keyframes CorBorda {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container-form::after {
  content: "";
  position: absolute;
  inset: 5px;
  background: #ffffff;
}

.form-container {
  z-index: 1;
  width: 100%;
}

.form-container [type="text"],
[type="password"] {
  padding: 5px;
  width: 100%;
  border: none;
  border-bottom: solid black 2px;
  font-size: 17px;
  transition: 0.5s all;
}

.form-container [type="submit"] {
  border: none;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  background-color: rgb(103, 201, 121);
  cursor: pointer;
  transition: 0.5s all;
  font-weight: 700;
}

.form-container [type="submit"]:hover {
  letter-spacing: 0.6px;
}

.form-container span {
  position: absolute;
  left: 3px;
  top: 5px;
  opacity: 0.6;
  transition: 0.5s all;
  pointer-events: none;
}

.form-container input:focus ~ span,
.form-container input:valid ~ span {
  transform: translateY(-20px);
  font-size: 14px;
  opacity: 1;
  border-bottom: solid rgba(78, 172, 96, 1) 1px;
}

.form-container input:focus {
  border-bottom: solid 2px rgba(78, 172, 96, 1);
}

.form-container h1 {
  margin-bottom: 3rem;
}

.form-container a {
  border-bottom: solid 2px rgba(78, 172, 96, 1);
}

.form-group {
  position: relative;
  margin-bottom: 2rem;
  z-index: 1;
}

@media (max-width: 280px) {
  .container-form {
    max-width: 250px;
  }
}
